<h3>Artists List <button class="btn"><%= link_to 'Add Artist', new_artist_path %></button></h3>

<table>
  <tr>
    <th>Artist</th>
    <th>Listeners</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= link_to artist.artist, artist %></td>
    <td><%= artist.listeners %></td>
    <div class="btn-group">
      <td><button class="btn"><%= link_to 'Edit', edit_artist_path(artist) %></button></td>
      <td><button class="btn"><%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
    </div>
  </tr>
<% end %>
</table>
<button class="btn"><%= link_to 'View Albums', albums_path %></button>
