<h4>Artists List</h4>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "artist" %></th>
      <th><%= sortable "listeners" %></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.artist, artist %></td>
        <td><%= artist.listeners %></td>
        <div class="btn-group">
          <td><button class="btn"><%= link_to 'Edit', edit_artist_path(artist) %></button></td>
          <td><button class="btn"><%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<button class="btn"><%= link_to 'Add Artist', new_artist_path %></button>
